[2015-03-30 11:59] gregkh opened #3 "vgrep with no options fails with a traceback"
$ vgrep
Traceback (most recent call last):
  File "/home/gregkh/bin/vgrep", line 253, in <module>
    main()
  File "/home/gregkh/bin/vgrep", line 115, in main
    if not hits:
UnboundLocalError: local variable 'hits' referenced before assignment

[2015-03-30 12:04] vrothberg commented on #3
Thanks a lot, I fixed it!

[2015-03-30 12:04] #3 closed

[2015-03-30 12:25] GeertJohan opened #5 "Script fails with IndexError: list index out of range"
[code]

[2015-03-30 12:40] vrothberg commented on #5
Thanks for reporting :-)

I don't find a way to get the IndexError.  Which version of grep / git are you using?

[2015-03-30 12:48] GeertJohan commented on #5
[code]

[2015-03-30 12:48] GeertJohan commented on #5
vgrep repo at `009b725eba18a4382e796de840a544d208059937`

[2015-03-30 13:21] vrothberg commented on #5
Thanks again!

I still cannot retrace what's wrong :(  I put a try-catch around the constructor so that it avoids vgrep to fail:
   https://github.com/vrothberg/vgrep/commit/cede06ee60486eae49d9e4c1cabf50d6fe6eebc7

[2015-03-30 14:32] GeertJohan commented on #5
Sure no problem. Thanks for making vgrep!

It's still not working on my machine though. I hope the following helps:

[code]

[2015-03-30 14:37] GeertJohan commented on #5
I can't reproduce this error in a debian wheezy container, but I did find an other error.

`$HOME/.cache` folder wasn't created. Maybe check for this and create when missing? ping @gregkh

$ docker run -ti buildpack-deps:wheezy-scm /bin/bash
root@3985bad053da:/# export PS1="$ "
$ git version
git version 1.7.10.4
$ grep --version
grep (GNU grep) 2.12
$ git clone https://github.com/vrothberg/vgrep.g

[2015-03-30 14:53] vrothberg commented on #5
Thanks for your help!

**Could not parse 'file1.txt:1:foobar1'**

... now that's interesting.  It seems like that the problem is in the regex module.  The regular expression works on all machines that I have access to.  I try to figure out what's wrong.

[2015-03-30 14:59] gregkh commented on #5
Yes, I'll fix up the .cache/ directory thing, sorry about that.

[2015-03-30 15:03] GeertJohan commented on #5
when I redirect the output of `git grep -In vgrep` in the vgrep repo to a file, and compare the filesizes on the docker wheezy and my local machine, there is a difference. Local machine output is 1564 bytes whereas docker wheezy output is 1148 bytes.
Could it be color color coding --??

Yes, found it, it is color coding. Creating PR shortly.

[2015-03-30 15:20] #5 closed

[2015-03-31 18:12] gregkh opened #10 "Line sort is in alphabetic, not numeric order"
The line number sort is done in 'string' order, not 'numeric' order, which results in output like the following when run in the vgrep repo itself:
 $ ./vgrep f | head
Index Source File Source Line Content
    0 LICENSE              10 The GNU General Public License is a free, copyleft license for
    1 LICENSE             101 a computer network, with no transfer of a copy, is not conveying.
    2

[2015-03-31 18:32] vrothberg commented on #10
Thanks, good catch!  I am preparing a fix for that.

[2015-03-31 18:44] vrothberg commented on #10
The following commit fixes the fix to fix it :dancers:
https://github.com/vrothberg/vgrep/commit/e2696a73cdddbd8613b1af0d0dc94fcd0bf49b61

[2015-03-31 18:44] #10 closed

[2015-03-31 19:45] gregkh commented on #5
mkdir ~/.cache/ should now be addressed with pull request #11

[2015-04-20 15:29] dasGringuen opened #14 "shell brakes on Ctrl-D"
When exiting with Ctrl+D the shell doesn't go back to its default configuration

[2015-04-23 10:09] vrothberg commented on #14
Hi Adrian,
thanks a lot for reporting the issue.  For me, nothing happens pressing CTRl+D, but +C left vgrep in a weird state.  less ignores it by default, so vgrep does the same now.

Commit 50e906dec392 should fix it.

[2015-04-28 12:41] #14 closed

[2015-10-01 07:16] jaybh opened #15 "Highlighting the searched pattern"
I love your tool. It has improved my workflow considerably, considering it combines the speed of git grep, with ack's ability to filter files to search the pattern in.

Is there  a way to color code the matches in the "Content" column ?

Let me explain why that is useful:
1) Sometimes we don't remember the entire symbol name, so we tend to search only a partial symbol name. It's very difficult to

[2015-10-01 07:53] vrothberg commented on #15
Hi Jay,

thanks a lot, it makes me really happy to hear that vgrep helps other people than me to get their work done :)

There's a way to color the content matches as well.  I haven't implemented it yet, but I guess it won't be a big change.  In case it's slowing down too much (strings are really expensive in Python), I will make it optional.

Thanks for your interest.

Best regards,
  Valentin

[2015-10-02 08:26] vrothberg commented on #15
Hi Jay,

I played a little bit around and pushed the change.  You can test the new highlighting on the master branch.  Please let me know if it works for you as expected.

Kind regards,
 Valentin

[2015-10-05 19:16] jaybh commented on #15
Thanks a lot. i will try it out and get back to you.

[2015-10-05 19:36] jaybh commented on #15
Your latest changes do implement what I am looking for. I profiled the tool with and without the highlighting expense:

[code]

So, although there is a bit of a difference, its tolerable for small projects.
Best to keep the feature by default, but provide a command line switch to disable it for performance.

[2015-10-06 05:32] #15 closed

[2016-09-10 17:00] darnir opened #22 "Crash on every invokation"
After upgrading to the latest release, I see vgrep crashing on every invokation with the following trace:

[code]

[2016-09-11 08:16] vrothberg commented on #22
Hi darnir,

thanks a lot for reporting the issue.  I could fix the issue with commit f4045fc324a682f17538b892691a4de508c74ed9 on my local machine with a test git and some submodules.

Does this work for you?

[2016-09-11 08:29] darnir commented on #22
Thasnk @vrothberg. That commit indeed fixes the issue.
Could you please make a new bugfix release with this commit since this is a major breakage?

[2016-09-11 08:31] vrothberg commented on #22
Hi darnir,

thank you reporting and testing.  Sure, I will prepare a new bugfix release.

[2016-09-11 08:31] #22 closed

[2017-12-03 18:19] darnir opened #26 "Build Instructions and Dependencies"
Hi,

Thanks for writing this tool. It greatly boosts my productivity with working on any codebase that I know inside out.

However, I am unable to build the latest version. I don't have much knowledge of Go (I jumped on the Rust bandwagon), and so don't know much about the toolchain. A simple list with the dependencies required to build `vgrep` and some build instructions would be a great addition

[2017-12-04 07:13] vrothberg commented on #26
@darnir Thanks, I am glad to know vgrep is a useful tool for you, and thanks a lot for taking the time to give feedback.

Regarding `make all`: it is somehow common in golang projects to invoke those checks by default to enforce the coding style. If you only want to compile and skip checks, you can use `make build`. Notice that only `make release` will set the correct version. Please let me know i

[2017-12-04 08:35] gregkh opened #27 "build dependencies are not specified anywhere"
I might be missing some documentation somewhere, but when trying to build I get the following dependency error:

    $ make build
    go build -o ./build/vgrep -ldflags "-s -w -X main.version=2.0.0-bd35a5e9228a464b873f922f3b82db5c1da918f7-dev"
    vgrep.go:20:2: cannot find package "github.com/jessevdk/go-flags" in any of:
            /usr/lib/go/src/github.com/jessevdk/go-flags (from $GOROOT)

[2017-12-04 12:23] darnir commented on #27
I raised a similar issue with #26.

Apparently a bunch of Go packages are required to build `vgrep` and the toolchain doesn't automatically pull them in. Apparently there is a `go get ./..` or similar command which could be used. But I'd like to be able to enumerate the dependencies explicitly.

[2017-12-04 12:52] vrothberg commented on #27
@gregkh Thanks a lot for taking your time to report the issue. As @darnir mentioned, there's already issue #26 , so I will close this one. I extended the README with some explanations.

What I suggest doing is either using `make buildInContainer` which sets up everything or to place your vgrep source tree in `$GOPATH/src/github.com/vrothberg/vgrep`. Use `make build` to compile without checks or `m

[2017-12-04 12:52] #27 closed

[2017-12-04 12:55] vrothberg commented on #26
@darnir I extended the README with some explanations. Please let me know if they suit your expectations.

[2017-12-05 08:10] vrothberg opened #28 "Add integration tests"
https://github.com/vrothberg/vgrep/commit/d8c289a16c4b541673da3161d93499fb500c2404 has shown that integration tests can help to avoid certain kinds of bugs and issues.

[2017-12-05 09:28] gregkh commented on #27
`make buildInContainer` works great for me, thanks for that!

[2017-12-07 23:44] darnir commented on #26
Thanks @vrothberg

Especially the changes with v2.0.1 helped a bit.

I've updated the AUR package for Arch Linux for v2.0.1. However, I'm not sure if the PKGBUILD being used is the cleanest. If you have any ideas about Arch Linux packaging, I'd request a review of the PKGBUILD. It's mostly hacks to deal with my lack of knowledge about Go programs.

[2017-12-07 23:44] #26 closed

[2017-12-08 09:09] vrothberg commented on #26
@darnir That's great. I had a look at the PKGBUILD and it's a really nice solution. I just suggest removing line 30 `get get ./...` as all external dependencies are in the `./vendor` directory. Removing it should speed up the build a bit.

[2017-12-08 10:03] darnir commented on #26
@vrothberg If I remove the `go get ./...` as you suggested I end with with the following error:

[code]

[2017-12-08 15:06] vrothberg commented on #26
@darnir Oh, that it is a problem that must be fixed in the PKGBUILD. Sorry for not spotting that.

The compilation error above stems from the source directory not following the required path convention of `$GOPATH/src/github.com/vrothberg/vgrep`. Only then the packages can be resolved. What's happening at the moment is that `go get ./...` will download `vgrep/colwriter` and `vgrep/ansi` from HEAD

[2017-12-18 18:57] vrothberg opened #29 "build position independent binary"
Adding a  `-buildmode=pie` flag to `go build` will be sufficient.

[2018-01-07 09:20] Taeung opened #30 "Need to eliminate things related to old `-w` options"
Hi @vrothberg 😄
`vgrep` looks great tool !!

But I saw the description and example regrading `-w` option,
I thought it is because of the`-w` option from 46db0da,
however, it is removed at 6385bab , right ?

So I suggest modifying some parts of README.md on
https://github.com/vrothberg/vgrep/blob/master/README.md#searching-patterns

[2018-01-07 09:32] vrothberg commented on #30
Hi @Taeung, thanks! That's more or less just a coincidence. The text mentioning the `-w` relates to the fact that all non-vgrep options will be passed along to (git-) grep. So a `vgrep -w foo` will invoke `git-grep -w foo` and hence only search for foo at word boundaries. I used the `-w` option as an example as it is a common use case for textual searches.

See the README: "All non-vgrep flags and

[2018-01-07 09:32] #30 closed

[2018-01-07 09:36] Taeung commented on #30
Oh.. I got it 😄

[2018-01-07 09:38] vrothberg commented on #30
Great :-) Thanks a lot for taking the time to report!

[2018-01-07 09:44] Taeung commented on #30
@vrothberg , However, currently `vgrep -h` don't have a description of the `-w` option like below.
Isn't also needed to add the description ?
[code]

[2018-01-07 10:10] vrothberg commented on #30
@Taeung, I don't think so, because it is not an option of `vgrep` but one of `grep` and `git-grep`. As the `-w` is not a vgrep option, it just passed along to execute grep. In other words, it is interpreted as input, not as an option, just as "foo" is an input in `vgrep foo`.

[2018-01-07 10:17] Taeung commented on #30
Oh..I confused it.. :)

[2018-01-20 18:09] #29 closed

[2018-07-22 15:20] vrothberg commented on #28
Fixed with https://github.com/vrothberg/vgrep/pull/34.

[2018-07-22 15:20] #28 closed

[2020-03-27 09:30] vrothberg opened #57 "cache should resolve symlinks"
No time to fix it at the moment, but the cache should resolve symlinks (i.e., if `pwd` is one).

[2020-03-27 14:23] #57 closed

[2020-04-09 08:42] bgianfo opened #60 "Freature Request: Add an option to search with ripgrep"
ripgrep (https://github.com/BurntSushi/ripgrep) is one of the fastest tools for searching code. It would be nice if vgrep supported ripgrep as a search backend.

[2020-04-09 09:10] vrothberg commented on #60
Hi @bgianfo, thanks for reaching out!

If you want to contribute, `vgrep` can easily be extended to support more backends. https://github.com/vrothberg/vgrep/blob/master/vgrep.go#L185 is a good point to add `ripgrep` and run it if it's in `$PATH`. `vgrep` expects the output to be split by null-bytes as `$file\0$line\0$content`.

[2020-04-10 20:17] nbenitez opened #62 "vgrep -i flag conflicts with existant grep -i flag"
I just installed vgrep, then procceed with a `vgrep -i somesymbol` and returned (wrongly) no matches, then I found out vgrep has also a `-i` flag, but I need the grep `-i` flag (for case insensitive search) because by default vgrep does case sensitive searches.

[2020-04-11 09:24] vrothberg commented on #62
Hi @nbenitez, thanks for reaching out! I opened #63 to address the issue by dropping `-i`. Feel free to drop a comment on #63.

[2020-04-11 16:13] nbenitez commented on #62
I just tested the fix and it works correctly, thank you :-).

[2020-04-12 14:28] #62 closed

[2020-04-18 17:44] bartol commented on #60
Hi,

I was playing with this feature this afternoon and although it isn't done, I've made some progress. Only issue currently is ripgrep's color output. It escapes all colors or none. Grep escapes only match color.

Output that I am getting:
[code]
[changes](https://github.com/bartol/vgrep/commit/d854fb10fe6a55ceef42cf1f55ded30293cdd73b)

This is my first time contributing to open source project (

[2020-04-18 18:43] vrothberg commented on #60
Hi @bartol,

thanks for working on that! I suggest to open a pull request, so we can through the CI at it and make reviewing easier. Would you open one?

The parsing code is _very_ specific to grep, so I guess we have to do some massaging to support ripgrep.

[2020-04-21 09:37] vrothberg commented on #60
Fixed with #65, thanks everyone!

[2020-04-21 09:37] #60 closed

[2020-04-22 14:52] tjmtmmnk opened #67 "Feature Request: More Interactive with selector"
Thanks for creating a great tool!

But, I felt a little inconvenient to manipulate the search results.

- Now I need to run `vgrep` and then `vgrep --show` with the matching line
- It's a little inconvinient
- Therefore, I propose that the search results can be operated with the arrow keys.

(sorry for my poor English)

[2020-04-23 07:26] vrothberg commented on #67
Hi @tjmtmmnk,

thanks for reaching out!

I want to keep vgrep as simple as possible. Implementing a pager is hard to get right and would increase the complexity quite substantially.

However, such tool already exists and funnily has the same name:
https://hackage.haskell.org/package/vgrep

[2020-04-23 07:36] tjmtmmnk commented on #67
@vrothberg

I got it. I also agree that implementing paging will be complicated...

https://hackage.haskell.org/package/vgrep

Oh, I didn't know that tool. Thank you for your introduction!

I will close this Issue.

[2020-04-23 07:36] #67 closed

[2020-04-23 17:24] lucas0 opened #68 "conflict with existing vgrep on ubuntu 18.04"
Hello, I'm sorry if this is not a relevant question and it is not the right place to ask it but apparently there is already a vgrep in my ubuntu 18.04 instalation under /usr/bin and even though the installation of your vgrep goes with no errors, I guess the vgrep command is bound to the original vgrep.

`man vgrep` yields this:

NAME
       vgrep, vegrep, vfgrep - print lines matching a pattern

S

[2020-04-24 08:55] vrothberg commented on #68
Hi @lucas0,

thanks for reaching out!

Do you want to use the Ubuntu-vgrep's output for vgrep or are you concerned about the name conflict?

[2020-05-08 09:15] vrothberg commented on #68
Friendly ping.

[2020-05-10 13:41] marcosnils opened #78 "Flag -i conflicts with grep ignore case?"
`vgrep -i` conflicts with `grep -i` (ignore case) option. The only way I've found to ignore case while using it is using the long `--ignore-case` option.

[2020-05-11 08:54] vrothberg commented on #78
Hi @marcosnils, thanks for reaching out!

The issue has been fixed with commit 0810837a928d078f3d3d01ed2c130a2e4b91a90d and released with vgrep v2.3.0. Are you using an older version of vgrep?

[2020-05-11 13:35] marcosnils commented on #78
Indeed, just updated to the latest version and it has been fixed. Thx for that!

[2020-05-11 13:35] #78 closed

[2020-05-15 09:34] mojozinc opened #79 "bsd grep: panic when trying to split a matched string"
for a specific string
`./pack/plugins/start/vim-go/ftplugin/gomod.vim:13:      \ | exe 'au! vim-go-gomod-buffer * <buffer>'"`
the splitting here doesn't work
https://github.com/vrothberg/vgrep/blob/9cc36833073ac6cae33dabdf87c92fcc3910cd90/vgrep.go#L251-L257
it fails and causes an index out of range error at line 256, because it didn't split into 3 parts
but only 1, lenght of spl is just 1
I added

[2020-05-15 09:36] mojozinc commented on #79
I realise the problem is because of the different seperator
when it fails the directory is not under git.

[2020-05-16 19:23] vrothberg commented on #79
Thanks for opening the issue and providing all the details, @mojozinc!

It seems that the BSD grep has a different format. I assume that the `file|line|content` are all split by null bytes as done in gitgrep and ripgrep?

Are you interested in opening a PR? I run Linux only but am more than happy to get vgrep run on more systems.

[2020-05-16 19:24] #68 closed

[2020-05-16 19:24] vrothberg commented on #68
Please re-open if there's anything I can do.

[2020-05-18 16:20] mojozinc commented on #79
@vrothberg thank you for replying
yes, I would like to take this up.
I will try to raise PR asap.

[2020-05-19 11:09] NightMachinary opened #81 "Add script for installation"
Either a Homebrew package (they should work on both Linux and macOS), or a shell script. Sth one can copy and paste easily without thinking. It helps a lot to make one more enthused to try a new tool.

[2020-05-21 10:12] vrothberg commented on #81
Thanks for the feedback, @NightMachinary!

On Mac OS, you can install vgrep via macports: https://ports.macports.org/port/vgrep/summary

Some Linux distributions are shipping vgrep (e.g., Arch, openSUSE). While I would love to increase the coverage, I do not have the time and hope for an organic growth. I am really happy about the macports and now hope that the new Windows package manager can help

[2020-05-21 11:54] NightMachinary commented on #81
@vrothberg Unfortunately, `macports` somehow never gets installed on my machine. I have no idea why. Anyways, I think just putting a complete (git clone, make build, make install, if that's all) on the readme itself would help. If offering binaries, I think it'd be a good idea to put a little script on the readme that just downloads and links it to, e.g., `~/bin/`.

[2020-05-21 11:54] #81 closed

[2020-05-25 09:12] vrothberg opened #82 "README: add install instructions"
Based on https://github.com/vrothberg/vgrep/issues/81#issuecomment-632045428, let's add some install instructions.

[2020-05-25 13:20] #79 closed

[2020-06-01 17:52] marcosnils opened #83 "-l (list file matches) doesn't seem tow work"
vgrep -l <some_text>

Doesn't seem to be printing anything. IIUC the `files` selector should do the same thing, but I couldn't find a way to make it work as a one liner. I'd have expected to do something like `vgrep --no-header -s=files <some_textt>` and I'm getting:
[code]

ideas?

[2020-06-01 21:38] marcosnils opened #84 "-A -B and -C options don't work"
[code]

Getting a index ouf range when using any of those options.

[2020-06-02 07:10] vrothberg commented on #84
Thanks for opening the issue!

I took a quick look and believe to have a way forward.

[2020-06-02 07:18] vrothberg commented on #83
Thanks for opening the issue!

This scenario isn't supported, so we can't grep for text and open it in one command. The reasoning for that is to make using `--show` a bit more friendly and allow for `--show a b c` instead of `--show="a b c"` - following arguments are appended.

[2020-06-05 20:11] marcosnils opened #85 "-v and --version to print version seems not to be working"
[code]
I assume it's been sent to `grep/git grep` instead..

[2020-06-06 01:21] disposedtrolley commented on #85
It seems to be working for me

[code]

Are you running the latest commit on `master` (`41386d0ec6a7e5e33fe51fffb5d43d2f64dbe998`)?

[2020-06-06 08:17] vrothberg commented on #85
I assume that the `vgrep` binary wasn't build with the Makefile where the version isn't being set via the linker (see https://github.com/vrothberg/vgrep/blob/master/Makefile#L26).

Did you build it manually via `go build`?

[2020-06-06 08:30] #82 closed

[2020-06-06 09:04] #83 closed

[2020-06-06 09:49] vrothberg commented on #84
I opened https://github.com/vrothberg/vgrep/pull/88 to address the issue. Lines that don't match the expected format are now being ignored. Does that work for you?

[2020-06-06 15:01] marcosnils commented on #85
That seems to be the case. I'm building the binary directly with `go build`.

[2020-06-06 15:01] #85 closed

[2020-06-06 17:49] #84 closed

[2020-06-28 21:05] elazarl opened #90 "Add option to install with `brew`"
Hi,
For easier installation on Mac, ` brew install elazarl/homebrew-vgrep/vgrep`, I added the repository http://github.com/elazarl/homebrew-vgrep

Can you please fork this repository here, and mention it as a viable way to install vgrep on Mac?

[2020-06-28 23:12] unixbhaskar opened #91 "Why the dependency on build dir????"
How to get rid of this annoying thing??

[code]

[2020-06-29 06:54] vrothberg commented on #90
Sounds great! Would you open a pull request here? I'm not sure whether you want a make target, add a link in the readme or add the brew formula here. I am okay with all of them.

[2020-06-29 07:01] vrothberg commented on #91
Thanks for the report. Can you please be more precise? I don't see a relationship between `./build` and the error message.

Currently, vgrep stores it's paths relative to where it's being called from. That's why it's enforcing the cache to be loaded from the same directory.

[2020-06-29 07:38] unixbhaskar commented on #91
Sure, but I am little confuse about this statement, "vgrep stores it's paths relative to where it's being called from. That's why it's enforcing the cache to be loaded from the same directory." not able wrap it around my head.

All , I was trying to say, I can build that in the buildir . The ,I should be able to call that binary(which I have specifically placed under my home/bin dir or it can be t

[2020-06-29 07:52] vrothberg commented on #91
I'll try to answer the questions one by one.

When we're searching for something, e.g. `$ vgrep foo`, then `vgrep` stores the results in `$HOME/.cache/vgrep-go`. The reason for that is that we can later operate on these results and open the file locations in an editor via `$ vgrep --show`. Caching and loading the results is much faster than performing a search.

Now to the error message that you'r

[2020-06-29 08:05] unixbhaskar commented on #91
"vgrep stores it's paths relative to where it's being called from. That's why it's enforcing the cache to be loaded from the same directory."

sure

Here is a screenshot of what you asked: https://imgur.com/ENnZuKs

"Bottom line: at the moment, previous results can only be loaded from within the same directory they have been searched at."

This is pretty much handicapped me to use it system-wide.

[2020-06-29 08:15] unixbhaskar commented on #91
Again my naiveness ...see this link for screenshot too ...  https://imgur.com/IJ8NVkf

The commands and expected suggestion not aligning ...kindly look closely ...end-users can easily get confused ...can you please rephrase those utilities?? Lot of "unhelpful" messages getting printed ...can you please get rid of those in the future and put some real helpful messages. I hope you get what I am driv

[2020-06-29 11:16] #91 closed

[2020-07-03 05:08] snits opened #96 "emacs appears to like the line number prior to the path of the file"
Currently vgrep --show will just open up the file with the cursor located at the very beginning of the file. It works with the following quick hack:

[code]

[2020-07-06 07:37] vrothberg commented on #96
Oh dear, and I naively mentioned emacs in the readme - should have tested it. Thanks a lot for the report!

[2020-07-06 07:51] vrothberg commented on #96
Fixed with #97

[2020-07-06 07:51] #96 closed

[2020-07-06 13:40] bretty-mcbrettface opened #101 "Building on Ubuntu manually"
What paths or variables am I missing? Make build just gives me errors like:

[code]

I'm not super familiar with the go ecosystem, I assume it's something like `go get ...`?

[2020-07-06 13:45] vrothberg commented on #101
Thanks for reaching out, @bretty-mcbrettface!

go 1.10 is pretty old already and I believe it already hit EOL. Go projects are now easier to build as there's now a notion of `go modules`. If you want to use go 1.10, however, you need place the project in `$GOPATH/go/src/github.com/vrothberg/vgrep`. Using later versions, it will build anywhere.

[2020-07-06 13:45] vrothberg commented on #101
Please let me know if that worked for you.

[2020-07-06 13:55] bretty-mcbrettface commented on #101
Got it, thanks. For future Ubuntu 18 users, go has to be installed via snap and not via apt (only has 1.10).

[2020-07-06 13:56] vrothberg commented on #101
Great, thanks for checking!

[2020-07-06 13:57] #101 closed

[2020-07-07 23:31] rwhogg commented on #90
`vgrep` is now available in homebrew-core: https://github.com/Homebrew/homebrew-core/pull/57569

[2020-07-08 08:02] vrothberg commented on #90
Thanks! I'll add that to the README.

[2020-07-08 08:11] #90 closed

[2020-07-20 21:10] Whissi opened #113 "Support double dash (--) to signify the end of command options"
I want to grep for a string starting with a dash, i.e. `-luuid`.
When using grep I would invoke grep like `grep -Fr -- -luuid`. When doing the same with vgrep I'll get the error
[code]

[2020-07-20 21:32] qmonnet commented on #113
Note that the double dash _is_ currently supported. But instead of telling `grep`/`ripgrep`/`git grep` to stop considering the rest of the arguments as options, it tells `vgrep` not to consider them and to pass them down to whatever `grep` tool it calls. For example:

[code]
Will pass `-d` to `grep` _instead of_ calling `vgrep` in `debug` mode.

Therefore, if you want to pass a double dash to your

[2020-07-20 21:34] Qeole commented on #113
Note that the double dash _is_ currently supported. But instead of telling `grep`/`ripgrep`/`git grep` to stop considering the rest of the arguments as options, it tells `vgrep` not to consider them and to pass them down to whatever `grep` tool it calls. For example:

[code]
Will pass `-d` to `grep` _instead of_ calling `vgrep` in `debug` mode.

Therefore, if you want to pass a double dash to your

[2020-07-21 08:19] vrothberg commented on #113
@Whissi, does it work for you as suggested by @Qeole ?

[2020-07-21 13:11] Whissi commented on #113
Yes, thank you very much. Learned something new ;)

[2020-07-21 13:11] #113 closed

[2020-08-03 13:43] marcosnils opened #116 "Provide binary downloads?"
I'm aware that vgrep is already distributed to several package management solutions. Is there a reason why binaries couldn't be published here?
I'm happy to add [goreleaser](https://goreleaser.com/) support if you find it useful. Additionally, this would allow others to use vgrep with [bin](https://github.com/marcosnils/bin)

[2020-08-03 13:53] vrothberg commented on #116
Sounds great. Thanks, @marcosnils!

Feel free to open a PR :+1:

[2020-08-13 13:39] marcosnils opened #118 "Seems like -A, -B and -C is broken in the latest release"
Seems like https://github.com/vrothberg/vgrep/issues/84 stopped working on the latest release. I'm getting stack traces errors or "failed to parse results" whenever I try to use one of those options.

[2020-08-13 15:13] vrothberg commented on #118
Sorry for not getting back to you!

That was huge lack of coffee on my side as I closed https://github.com/vrothberg/vgrep/pull/88 instead of merging. The -A parsing was later tackled by @Qeole where we decided to error out.

I am still open to ignore non-matching lines (as long as we log them). @Qeole @marcosnils what do you think?

[2020-08-13 15:38] marcosnils commented on #118
Hmmm.. I can't recall how this worked and I can't test it again since the branch has been removed. Do you mind sending the PR again and rebasing so I can try it out @vrothberg ?

[2020-08-14 11:52] vrothberg commented on #118
Sure! Here's a PR to test: https://github.com/vrothberg/vgrep/pull/119

My work flow for displaying context lines is:
[code]

Would that work for you?

[2020-08-28 09:05] vrothberg commented on #118
Ping @marcosnils. What do you think?

[2020-08-28 15:08] marcosnils commented on #118
Just tried this... I'm not convinced about the UX though..

I'm still not sure why we can't do something like `vgrep -C 10 <search>` and output all the possible lines that you can jump to in vgrep's output as well.

[2020-09-02 14:10] vrothberg commented on #118
#119 should do that. It's ignoring the separation lines though. Can you give an example how you would like it to look like?

[2020-09-02 15:22] marcosnils commented on #118
You're right.. seems like I was using the wrong version. I just have it another shot and I got this result

![image](https://user-images.githubusercontent.com/1578458/92002981-d95c7500-ed16-11ea-93eb-d6dc2fc0f425.png)

^ As you can see the output from standard grep and vgrep is a bit different, specially since it's missing some results that I get with grep. Is that expected?

[2020-09-04 14:58] vrothberg commented on #118
Curious. I can't reproduce on Fedora. Are you on Mac OS?

[2020-09-04 15:20] marcosnils commented on #118
Here's the debug output to see if that helps to see what could be happening. I can see some "failed to parse" which I think is the issue, correct?

![image](https://user-images.githubusercontent.com/1578458/92255691-12c4ea00-eea9-11ea-8b15-8e0086ba5c44.png)

[2020-09-18 10:37] vrothberg commented on #118
Sorry for the longer silence! Busy times after a relocation.

I need some more time to think this through but I am always open to suggestions. It's a hairy issue and I don't want to break backwards compat.

On a positive note: there is a workaround by first doing `vgrep foo` follow by `vgrep -sc` (for showing context lines).

[2020-10-03 14:17] vrothberg commented on #116
I finally did it. [v2.4.0](https://github.com/vrothberg/vgrep/releases/tag/v2.4.0) has binary downloads.

Thanks for kicking off the work :+1:

[2020-10-03 14:17] #116 closed

[2020-10-04 10:26] vrothberg opened #123 "add man pages"
I think it's time to add man pages to vgrep. As many other go projects, we can use [go-md2man](https://github.com/cpuguy83/go-md2man) and use markdown. The content can be borrowed from the README.

[2020-10-04 10:28] vrothberg commented on #123
I'll open it for Hacktoberfest, and want to encourage participants to chose planting a tree rather than getting a t-shirt.

[2020-10-04 10:30] vrothberg commented on #123
I want a simple setup, similar to [Skopeo](https://github.com/containers/skopeo) (and others containers/ tools).
`make docs` to generate the docs, and the necessary plumbing in `make install`.

[2020-10-04 15:01] ahmedkrmn commented on #123
Hi @vrothberg,
Can I work on this one?

[2020-10-04 15:52] vrothberg commented on #123
Sure! Thanks for reaching out!

On Sun 4 Oct 2020 at 17:02, Ahmed Karaman <notifications@github.com> wrote:

[2020-10-10 12:03] vrothberg commented on #123
@ahmedkrmn, how's it going?

[2020-10-10 14:20] ahmedkrmn commented on #123
HI @vrothberg, I've submitted a PR to close this issue, please have a look at it.
Per the new [Hacktoberfest update](https://hacktoberfest.digitalocean.com/hacktoberfest-update), please label the PR as "hacktoberfest-accepted".

[2020-10-20 02:57] mrthebob opened #126 "Version > 2.3.3 on Mac?"
Is it possible to install a version greater than 2.3.3 on Mac? I used Homebrew - looks like the latest is stuck at 2.3.3?

Thanks!

[2020-10-20 07:14] vrothberg commented on #126
Thanks for reaching out, @mrthebob!

It looks like @alebcay is maintaining the Homebrew formula. @alebcay, are you the right person to talk to for updating the formula?

[2020-10-26 07:56] #123 closed

[2020-10-26 08:24] vrothberg commented on #126
@mrthebob alternatively you could use the Mac Ports package or download the binary from the last release (https://github.com/vrothberg/vgrep/releases/tag/v2.4.0).

[2020-10-30 20:57] vrothberg commented on #118
@marcosnils could you have another at https://github.com/vrothberg/vgrep/pull/119? It turned out that `git grep` and `grep`/`ripgrep` behave again slightly different which was causing the issue you saw with ripgrep.

If you're cool with the changes, I can wrap things up and cut a new release soon.

[2020-10-30 21:01] marcosnils commented on #118
Sure, will check in a few mins

[2020-10-30 22:09] marcosnils commented on #118
Works like charm @vrothberg :muscle: LGTM!

[2020-10-31 10:47] #118 closed

[2020-10-31 10:48] vrothberg commented on #118
Thanks for testing and your patience!

[2020-11-01 23:21] Whissi opened #130 "make install failed: /bin/bash: sudo: command not found"
Please remove `sudo` call in https://github.com/vrothberg/vgrep/blob/e3a49630a8442b6baf7c6e8b8b8810c2ad4466f4/Makefile#L116

sudo shouldn't be used in Makefiles.

[2020-11-01 23:24] Whissi commented on #130
...and it looks like you need to create target directory first,
[code]

[2020-11-01 23:26] Whissi commented on #130
[code]

is doing the job for us.

[2020-11-02 07:58] vrothberg commented on #130
Thanks for reaching out! This one slipped through reviewing. https://github.com/vrothberg/vgrep/pull/131 should fix the issue.

[2020-11-04 10:01] #130 closed

[2020-11-04 16:22] #126 closed

[2020-11-12 10:30] vrothberg opened #132 "vgrep without args broken"
Running `vgrep` without grep args is broken. It should print previous results but but does nothing. I don't know yet when it regressed. Need to a regression test once fixed.

[2020-11-13 09:49] #132 closed

[2021-03-22 09:22] dependabot-preview[bot] opened #147 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/vrothberg/update-logs/73159973).

[2021-04-02 20:11] #147 closed

[2021-04-26 22:51] AdamSLevy opened #150 "[FR] Please add option that will print just the files for easy parsing with sed or awk"
I want to be able to run `vgrep --files-only "hello world" | sed -i 's/hello/goodbye/g'`

Because vgrep always prints the index, and search line, this is not possible.

[2021-04-27 06:42] vrothberg commented on #150
Thanks for reaching out!

So far, vgrep runs very poorly in such a context. It's a pager so I didn't consider piping the output any further.

But I am not opposed to the idea just very short on time :)  Would you consider opening a PR?  A nice alternative would be using `git-grep --files-with-matches ... | sed ...`

[2021-10-03 01:28] marcosnils opened #156 "Is the last release ok?"
Just got a notification about v5.2.2 release with no assets which seems strange as previous release is v2.5.1.

Maybe an accidental realease?

Keep up the good work. cheers!

[2021-10-03 09:04] vrothberg commented on #156
Thanks for reaching out!  I just uploaded the assets.

The last release lies that long in the past that I honestly forgot to fire `goreleaser` :-)

[2021-10-03 09:04] #156 closed

[2021-10-15 13:17] Whissi opened #158 "Wrong version number?"
Hi,

did you really jump from v2.5.1 to v5.2.2?

And when you compile vgrep from v5.2.2 tag, you will get
[code]

[2021-10-15 13:37] #158 closed, assigned to nobody

[2021-10-15 13:40] vrothberg commented on #158
Apologies, I must have been really tired. Thanks for sticking with me :+1:

[2021-10-15 13:42] marcosnils opened #159 "Vgrep help prints output twice"
[code]

I was expecting for help information to appear once. Seems like a small detail on how the project handles logging.

[2021-10-15 13:49] #159 closed

[2021-11-03 11:37] yermulnik commented on #90
Is here anyone familiar with Homebrew? I'm willing to add Linux bottle support to the Formulae, though I don't know how (Homebrew docus are quite convoluted when it gets to the questions like this).
https://github.com/Homebrew/homebrew-core/pull/57569#issuecomment-958948585

[2021-11-03 11:39] yermulnik commented on #90
JFYI: this repo has Linux binaries which means there's not impediments for Linux builds and also Homebrew build-from-source works fine
[code]

[2021-11-03 21:58] yermulnik commented on #90
@vrothberg Could you please take a look into the error in the test?
https://github.com/Homebrew/homebrew-core/pull/57569

[2021-11-04 10:37] vrothberg commented on #90
@yermulnik, I don't see an error related to vgrep in https://github.com/Homebrew/homebrew-core/runs/4098452150?check_suite_focus=true.

[2021-11-10 16:50] marcosnils opened #165 ""All" selector not working?"
IIUC from this example (https://github.com/vrothberg/vgrep#more-commands-and-the-interactive-shell) I could use an "all" selector to edit all the matched expressions, is that correct? I'm getting a "unsupported command 'all'" when trying to use that.

[code]

Am I missing something here?

[2021-11-12 10:14] vrothberg commented on #165
Thank you for reaching out, @marcosnils!

That's possible a regression when porting vgrep from python to go a couple of years ago.  Interested in opening a PR?

[2021-11-12 10:16] marcosnils commented on #165
Sure, will send a fix today.

[2021-12-02 18:39] vrothberg commented on #165
Are you still interested? If you don't find time, no problem at all. I can take over if needed.

[2021-12-02 18:45] marcosnils commented on #165
Hey Valentin,

Still interested but have very little time TBH. Please go ahead and take it
over if you have the time to work on it.

Cheers!

On Thu, Dec 2, 2021 at 3:39 PM Valentin Rothberg ***@***.***>
wrote:

[2021-12-02 19:02] #165 closed

[2021-12-02 19:03] vrothberg commented on #165
Thanks, I tracked it down to a malformed regex. It's working now :)

[2022-01-04 10:48] #150 closed

[2022-01-04 10:48] vrothberg commented on #150
Done :heavy_check_mark: Added the same flag as git-grep: `-l, --files-with-matches`

Thanks again for reaching out!

[2022-01-25 12:28] gregkh opened #169 "'vgrep --show' seems to not be able to parse colors"
With 2.5.5 of vgrep, using `vgrep --show` results in an error:

```WARN[0000] strconv.Atoi: parsing "\x1b[32m462\x1b[m": invalid syntax```

[2022-01-25 12:30] gregkh commented on #169
Just checked, `main` also has this issue.  Let me see if I can bisect...

[2022-01-25 12:35] gregkh commented on #169
odd, most older versions also cause this.  I now notice that a search has multi-colored numbers (every other line is different), is that due to some other program causing that?

[2022-01-25 12:38] gregkh commented on #169
a local old copy of 2.3.0 seems to work, but when I check out 2.3.0 from here it fails.  So this must be due to a dependency update somewhere.

[2022-01-25 13:13] vrothberg commented on #169
Thanks for reaching out and sorry for the regression.  It smells like some regex has changed and caused it but I need to look into it.

[2022-01-25 14:06] vrothberg commented on #169
I couldn't find any version where this actually worked.

[2022-01-25 14:23] vrothberg commented on #169
vgrep does it but it has been like that for a long time. The idea was to facilitate reading the lines.

I am unable to find a version where colored input is accepted.  Did something change in your environment?

[2022-01-25 14:35] gregkh commented on #169
I don't know, I'm running arch, and this seems odd as I "know" this used to work just fine.

It looks like the colored output is being saved in the cache file, let me dig and find out where that is coming from...

[2022-01-25 14:51] gregkh commented on #169
Ah, this looks to be a `git` thing!
`--color=auto` not `--color=always`.  I'll make a real patch, give me a second...

[2022-01-25 14:54] vrothberg commented on #169
Awesome, thanks for tracking it down!

[2022-01-25 14:55] gregkh commented on #169
https://github.com/vrothberg/vgrep/pull/170

[2022-01-25 14:56] gregkh commented on #169
Works for me, but some tests still fail when running `make tests` but that might just be because I do not have ripgrep installed here.

[2022-01-25 15:01] gregkh commented on #169
now resolved, thanks for the quick merge!

[2022-03-30 21:04] holmanb opened #172 "Install from source broken on go version > 1.17"
Since Debian-based distros don't have a `vgrep` package (yet?), I'm trying to use the instructions provided to build from source. I think that the following build failure is the result of `go get` [not installing binaries anymore](https://go.dev/doc/go-get-install-deprecation).

A manual `go install github.com/cpuguy83/go-md2man` allowed me to install.

[code]

Perhaps checking if go version >1.17

[2022-03-31 03:08] mylabzhen opened #173 "show command not work in fedora35"
`Enter a vgrep command: grep "struct page {" ./

Index File                                                 Line Content
    0 arch/microblaze/include/asm/io.h       14 #include <linux/mm.h>          /* Get struct page {...} */
    1 include/linux/mm_types.h               72 struct page {
    2 tools/testing/radix-tree/regression1.c 48 struct page {
    3 tools/testing/radix-tree/regression2.c 63

[2022-03-31 06:14] vrothberg commented on #173
Thanks for reaching out.

The issue has already been fixed with vgrep v2.6.0 (see https://github.com/vrothberg/vgrep/issues/169).  It's caused by a behavioral change in git - quite unfortunate.

The best workaround at the moment is to `dnf install ripgrep`.

I'll consider creating a backport to release v2.5.2 Fedora.

[2022-03-31 06:25] vrothberg commented on #172
Thanks for reaching out!

I opened https://github.com/vrothberg/vgrep/pull/174 to fix it.

[2022-03-31 06:30] #172 closed

[2022-03-31 06:50] vrothberg commented on #173
I created v2.5.6 (https://github.com/vrothberg/vgrep/releases/tag/v2.5.6) so that distribution can pick up the fixes.  I'll try to bump it for F35.

[2022-03-31 06:50] #173 closed

[2022-04-07 08:19] mylabzhen opened #176 "vgrep failed randomly on fedora 35"
vgrep work normally before today，but failed with no output now.

~  which vgrep                                                                                                                                         1 х │ root@fedora │ 16:12:40
vgrep='vgrep --interactive'
	/usr/bin/vgrep
 ~  vgrep --interactive
 ~  vgrep -d
DEBU[0000] log level set to debug
DEBU[0000] passed args: []
DEBU[0000] lo

[2022-04-08 06:14] mylabzhen commented on #176
Yes, i tried install from source vgrep-2.6.0

[2022-04-08 07:03] vrothberg commented on #176
Can you share a reproducer? I fail to reproduce:
[code]

[2022-04-08 09:02] mylabzhen commented on #176
~/linux │ v5.14  dnf install git vgrep -y -q
Installed:
  vgrep-2.5.1-3.fc35.x86_64

 ~/linux │ v5.14  vgrep --interactive
 ~/linux │ v5.14  vgrep Valentin
Index File                                                                                       Line Content
    0 Documentation/admin-guide/media/si4713.rst                                   10 Contact: Eduardo Valentin <eduardo.valentin@noki

[2022-04-08 09:02] #176 closed

[2022-04-08 09:19] mylabzhen commented on #176
I reproduce this problem in Centos 8.
Execute vgrep --interactive firstly after go build, no output.
Execute vgrep no.
After that vgrep --interactive recover normal.

[2022-04-08 10:26] vrothberg commented on #176
Thanks a lot for checking. Feel free to reopen in case there's another problem.

[2022-05-05 17:24] mjklemm opened #177 "Return to vgrep from Editor"
Not a real issue, more a question. :-)

Is there a way to return to vgrep/fzf after opening a match in the editor?  I'm using the bvgrep alias from the README for interactive searching and it would dramatically speedup things if I could go to a match by selecting it in the fzf list, then quit the editor and return to the (interactive) search that had before.

Any chance that this could work?

[2022-05-06 08:17] vrothberg commented on #177
Thanks for reaching out, @mjklemm!

I have absolutely no experience using fzf, and really don't know if or how this could work.  I rarely use or need an interactive mode but when I do, I use `vgrep --interactive` which will bring me back to vgrep when returning from the editor.

I will leave this issue open. Maybe someone in the community has an answer.

[2022-05-13 07:06] mjklemm commented on #177
I have hacked a bit on this and I have come up with this "solution" (it's still very hacky, but it might give people a hint on what can be done).

This alias triggers the search with `vgrep` and uses `fzf` to presen the results:
[code]

The `vgrep-vim.sh` script then further processes the selected result to open Vim:
[code]

I'm sure that this is not the most efficient way to do this, and for sure

[2022-05-13 08:53] vrothberg commented on #177
Thanks for sharing, @mjklemm!

[2022-07-05 18:28] suvayu opened #178 "vgrep looking for path to executable in $EDITOR and failing"
It seems `vgrep` expects `EDITOR` to point to an executable (a path) rather than a command.  I run Emacs in daemon mode, and always use it from the terminal, so for me it is set to: `emacsclient -nw -a=""`, and `vgrep` fails with:

    exec: "emacsclient -nw -a=\"\"": executable file not found in $PATH

I would expect a behaviour equivalent to: `$EDITOR <options>`, not `"$EDITOR" <options>`.

[2022-07-06 07:34] vrothberg commented on #178
Thanks for reaching out, @suvayu!

It can be both, a path and a command.

I did some research on the web but could not find a standard that would define whether arguments should be passed via that variable.  But I think it's a reasonable request.

[2022-07-06 11:33] vrothberg commented on #178
Thanks for sharing, @suvayu!

Are you interested in contributing?  In order to support your request, the EDITOR value had to be parsed (e.g., via `github.com/google/shlex).  An additional test should make sure we won't regress in the future.

[2022-07-06 11:41] suvayu commented on #178
Thanks for urging me to contribute (and the hint).  I have never written go, this gives me an incentive :).  I'll submit a PR over the weekend.

[2022-07-06 11:44] vrothberg commented on #178
Awesome, thanks a lot, @suvayu!

Make sure to run `make vendor` to pull in the new dependency before committing the changes.

[2022-07-11 14:53] #178 closed

[2022-08-20 13:53] dwu opened #183 "Indexes incorrect after refining search results"
When a previous search is refined, the new indexes are computed incorrectly.

Here's an example for reproducing the error on vgrep's extracted source for version 2.5.6.

Initial search:
[code]

Refining the search:
[code]

[2022-08-23 07:27] vrothberg commented on #183
Thanks for reaching out! I opened https://github.com/vrothberg/vgrep/pull/184 to fix the issue.

[2022-08-23 07:29] #183 closed

[2022-08-23 17:48] dwu commented on #183
Works great. Thanks for the quick fix.

[2022-08-29 19:09] yermulnik commented on #90
@vrothberg And does this look related to `vgrep` or not? Thanks.
https://github.com/Homebrew/homebrew-core/runs/8061347335?check_suite_focus=true#step:7:38

[2022-08-29 19:19] yermulnik commented on #90
Oh, please disregard. It seems to be not related to `vgrep` per se too 🤦🏻
Would it make sense to target build test to `testpath/"test.txt"` instead of current dir (`.`) to speed it up (in case test fails because of too any files/dirs in dir current to build)?

[2022-08-30 08:01] vrothberg commented on #90
Thanks for reaching out, @yermulnik. It looks like brew has its own smoke tests for vgrep. You can also use `make test-integration`. Depending on the environment you can trim the tests down to `bats tests/simple.bats`.

[2022-08-30 14:10] yermulnik commented on #90
I'm not sure about the env where Brew bottles are built, I was just trying to figure how the brew `test` could be quickly and easily fixed to allow `vgrep` to ve installed on Linux w/o a need to build locally: https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/vgrep.rb#L38-L43
So the easiest and quickest would be to test against the file created within `test` stage rather than against a d

[2022-08-31 09:38] vrothberg commented on #90
Yes, you can run `vgrep peanut ./test` for instance.